.magicbox {
  padding: 15px;
  padding-left: 25px;
  min-height: 220px;
  border: solid 1px burlywood;
}

.magicbox .count,
.filteredEmails .count {
  font-weight: bold;
  color: white;
  background-color: rgb(163, 43, 10);
  margin: 3px;
  padding: 3px;
  padding-left: 5px;
}

.magicbox button:last-child {
  margin-left: 20px;
}

.filteredEmails {
  display: block;
  position: relative;
  padding: 15px;
  border: solid 1px burlywood;
  min-height: 220px;
}
.filteredEmails .filterBy {
  margin-bottom: 30px;
}

.sample-info {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 60px;
  min-height: 20px;
  color: white;
  background-color: rgb(35, 35, 35);
  z-index: 999;
  border-radius: 3px;
  font-size: 0.8em;
  padding: 4px 7px 4px 7px;

  a {
    &:visited,
    &:link {
      color: white;
    }
    &:hover {
      color: greenyellow;
    }
  }
}

.filteredEmails .message span {
  padding-right: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1.6fr;
  gap: 0px 7px;
  grid-template-areas:
    'header'
    'content';
  justify-items: center;
}
.header {
  grid-area: header;
}

.header > div {
  display: flex;
  justify-content: center;
}
.content {
  grid-area: content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 10px;
  position: relative;
}
.content > .tabItem {
  display: block;
  position: relative;
  background-color: white;
  width: 500px;
  padding-top: 25px;
  margin: 6px;
}

ul {
  list-style: none;
  counter-reset: numCounter;

  li {
    counter-increment: numCounter;

    &:before {
      content: counter(numCounter) '. ';
      color: rgb(34, 23, 129);
      font-weight: bold;
      padding-right: 4px;
    }
  }
}
